*{
    box-sizing:border-box;
    margin:0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.body{
    overflow-x:hidden;
    
}

/*Header*/
.header{
position:fixed;                                                 
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    bottom:0px;
    left:0px;
    height:15vh;
    width:100vw;
    background-color:#0b2649;

}
    .topstrip{
        background-color:#0b2649;
        color:#7092bf;
        text-align:right;
        font-size:contain;
        height:3vh;
        width:100vw;
    }
        .topstrip p{
            font-size:1vw;
        }

        @media screen and (orientation:portrait){
            .topstrip{
                height:5vh;
            }
            .topstrip p{
                font-size:1.55vh;
                text-justify:center;
                text-align:center;
                text-transform:translateY(50%);
            }
            .bottomstrip{
                padding-top:2vh;
                height:10vh;
                align-items:bottom;
                overflow-y:hidden;
            }
        }

    .bottomstrip{
        background-color:#7092bf;
        display:flex;
        flex-direction:row;
        justify-content:space-around;
        align-items:center;
        height:12vh;
        width:100vw;
    }
        .logo{
            display:flex;
            height:12vh;
            width:36vh;
            background-image:url("images/logoedit.png");
            background-size:contain;
            background-repeat:no-repeat;
            background-color:#7092bf;
        }
        .icon-1{
            display:flex;
            height:10vh;
            width:10vh;
            border-radius:50%;
            
            background-image:url("images/stethbutton.png");
            background-size:contain;
            background-repeat:no-repeat;
        }
        .icon-2{
            display:flex;
            height:10vh;
            width:10vh;
            border-radius:50%;
            
            background-image:url("images/catbutton.png");
            background-size:contain;
            background-repeat:no-repeat;
        }
        .icon-3{
            display:flex;
            height:10vh;
            width:10vh;
            border-radius:50%;
            
            background-image:url("images/dogbutton.png");
            background-size:contain;
            background-repeat:no-repeat;
        }
        .icon-4{
            display:flex;
            height:10vh;
            width:10vh;
            border-radius:50%;
            background-image:url("images/phonebutton.png");
            background-size:contain;
            background-repeat:no-repeat;
        }
                        @media screen and (orientation:portrait){
                            .icon-1{
                                display:none;
                            }
                            
                            .icon-4{
                                display:none;
                            }
                        }











/*Container for scoll-snap function*/
.container{
    height:85vh;
    width:100vw;
    margin-bottom:15vh;
    background-color:#0b2649;
    align-items:center;
    overflow-y:scroll;
    overflow-x:hidden;
    scroll-snap-type:y mandatory;
        background-image:url("images/blah_building3_blur.png");
        background-attachment:fixed;
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
}

    /*.parallax{
        background-image:url("images/blah_building3_blur.png");
        background-attachment:fixed;
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
        height:85vh;
    }*/

    .boxes{
        display:flex;
        flex-direction:column;
        gap:10vh;
    }
         .box-1{
            display:flex;
            flex-direction:column;
            background-color:#0b2649 25%;
            height:75vh;
            width:100vw;
            
            scroll-snap-align:center;
            scroll-snap-stop:always;
            margin-top:5vh;
            text-align:center;
            align-items:center;
            justify-content:space-around;
        }
            .sugarbaby{
                height:50vh;
                width:50vh;
                background-image:url("images/sugarbaby.png");
                background-size:contain;
                background-repeat:no-repeat;
                border-radius:50%;
                border: 10px solid #0b2649;
                box-shadow:15px solid #7092bf;
            }
            .box-1 p{
                font-size:3vw;
                color:#7092bf;
                text-shadow: -1px -1px 0 #0b2649, 1px -1px 0 #0b2649, -1px 1px 0 #0b2649, 1px 1px 0 #0b2649;
            }
            @media screen and (orientation:portrait){
                .sugarbaby{
                    height:75vw;
                    width:75vw;
                }
                .box-1 p{
                    font-size:3vh
                }
            }
            
        .box-2{
            /*background-color:rgb(11, 38, 73, 0.5);*/
            background-image:linear-gradient(rgb(11, 38, 73, 1), rgb(11,38,73, 0.1));
            height:75vh;
            width:100vw;
            gap:5vh;
            scroll-snap-align:start;
            scroll-snap-stop:always;
        }
            .services-1{
                text-align:center;
                font-size:10vh;
                text-decoration:underline;
                color:#7092bf;
                text-shadow: -1px -1px 0 #0b2649, 1px -1px 0 #0b2649, -1px 1px 0 #0b2649, 1px 1px 0 #0b2649;
            
            }

            .services-2{
                height:65vh;
                padding-top:3vh;
                font-size:4vh;
                color:#7092bf;
                text-shadow: -1px -1px 0 #0b2649, 1px -1px 0 #0b2649, -1px 1px 0 #0b2649, 1px 1px 0 #0b2649;
                text-align:center;
                column-count: 3;
                column-width:20vw;
                column-rule-style:solid;
                column-rule-color:#7092bf;
                column-rule-width:2px;
            }
                .service-2 p{
                    margin-top:2vh;
                    margin-bottom:2vh;
                }

                @media screen and (orientation:portrait){
                    .services-2{
                        column-count: 1;
                        column-width:60vw;
                        gap:5vh;
                    }
                }
    

    .box-3{
        height:75vh;
        width:100vw;
        scroll-snap-align:center;
        scroll-snap-stop:always;
        margin-bottom:5vh;
    }
        .infographics{
            display:flex;
            flex-direction:row;
            justify-content:space-evenly;
            height:75vh;
            width:100vw;
         }

         @media screen and (orientation:portrait){
            .box-3{
                display:none;
            }
         }

    
    .box-4{
        height:75vh;
        width:100vw;
        scroll-snap-align:center;
        scroll-snap-stop:always;
        display:flex;
        flex-direction:column;
        gap:2vh;
    }

    @media screen and (orientation:portrait){
        .box-4{
            display:none;
        }
    }
    
    
    
            .box-4 h1{
                font-size:5vh;
                color:#7092bf;
                text-shadow: -1px -1px 0 #0b2649, 1px -1px 0 #0b2649, -1px 1px 0 #0b2649, 1px 1px 0 #0b2649;
                text-decoration:underline;
                width:100vw;
                text-align:center;
            }
                .team{
                    display:flex;
                    flex-direction:column;
                    justify-content:space-evenly;
                    width:100vw;
                    height:65vh;
                    color:#7092bf;
                    text-shadow: -1px -1px 0 #0b2649, 1px -1px 0 #0b2649, -1px 1px 0 #0b2649, 1px 1px 0 #0b2649;
                    text-decoration:underline;
                    margin-top:20px;
                    font-size:5rem;
                    text-align:center;
                }
                    
                        .team-row{
                            display:flex;
                            flex-direction:row;
                            justify-content:space-evenly;
                        }
                        .flip-card {
                            background-color: transparent;
                            width: 32vh;
                            height: 18vh;
                            perspective: 1000px; 
                          }
                          .flip-card-inner {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            transition: transform 0.8s;
                            transform-style: preserve-3d;
                          }
                          .flip-card:hover .flip-card-inner {
                            transform: rotateY(180deg);
                          }
                          .flip-card-front, .flip-card-back {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            -webkit-backface-visibility: hidden; 
                            backface-visibility: hidden;
                          }
                          .flip-card-front {
                            background-color: #7092bf;
                            
                            background-size:contain;
                            background-position:center;
                            background-repeat:no-repeat;
                            color:#0b2649;
                            font-size:3vh;
                        }
                            
                          .flip-card-back {
                            background-color:#0b2649;
                            box-shadow:5px solid #7092bf;
                            color:#7092bf;
                            font-size:2vh;
                            text-shadow: -1px -1px 0 #0b2649, 1px -1px 0 #0b2649, -1px 1px 0 #0b2649, 1px 1px 0 #0b2649;
                            transform: rotateY(180deg);
                          }
                            .flip-card-back h2{
                                text-decoration:underline;
                            }
                            .flip-card-back h3{
                                margin-bottom:2vh;
                            }



                                        
                
            
                
       

        .box-5{
            
            height:75vh;
            width:100vw;
            
            scroll-snap-align:center;
            scroll-snap-stop:always;
            margin-top:15vh;
            display:flex;
            justify-content:center;
            align-items:center;
        }
            .box-5 iframe{
                width:90vw;
                height:60vh;
            }
           





            