*{
    margin:0;
}

body{
    position:relative;
    background-color: #0b2649;
    box-sizing: border-box;
    margin: none;
    overflow-y: scroll;
    overflow-x:hidden;
    flex-direction: column;
    z-index:5;
    margin-top:150px;
}
 
html, body{
    height:100%;
}

img {
    max-width: 100%;
    height: auto;
}

.headwrap{
    position:fixed;
    overflow:hidden;
    top:0px;
    left:0px;
    height:150px;
    width:100%;
    z-index:3;
}
    .topstrip{
        /*position:relative*/
        background-color:#0b2649;
        height:30px;
        width:auto;
        font-size:x-large;
        text-align:right; 
        font-family:Arial, Helvetica, sans-serif;
        color:#7092bf;
        text-shadow:#000000;
        justify-content:space-between;
        padding-right:2%;
    }
        

    .header{
        /*position:relative*/
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
        background-color:#7092bf;
        height:120px;
        min-height:105px;
        width:100%;
        
        
    }

        .logodiv{
            background-color:#7092bf;
            margin-left:5%;
            margin-right:5%;
        }
                .logo{
                    height:110px;
                    width:auto;
                    object-fit:scale-down;
                }
                        .b1{
                            background-color:#7092bf;   
                        }
                            
                        .b2{
                            display:flex;
                            background-color:#7092bf; 
                            justify-content:center;
                            align-items:center;
                        }
        
                            .icon-1{
                                height:100px;
                                width:100px;
                            }
                


                            .t1{
                                display:none;
                                background:#7092bf;
                            }
            


             /* The grid: Three equal columns that floats next to each other */
.b1, .b2{
    cursor: pointer;
    width:20%;
  }
  
  .containerTab {
    position:relative;
    display:flex;
    flex-direction:column;
    flex: 30% 30% 40%;
    height: 50%;
    width: 100%;
    padding: 20px;
    color: #4f3427;
    font-family:'Courier New', Courier, monospace;
    font-size:larger;
    
    
  }
  
  .containerColumnA{
      width:30%;
  }
  
  /* Clear floats after the columns */
  .header:after {
    content: "";
    clear: both;
    display:table;
  }



  
  /* BODY OF SITE */

    .scroll-1{
        background-image:url("images/blah_building3_blur.png");
        min-height:100%;
        background-attachment:fixed;
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
    }

    .scroll-2{
        background-image:url("images/dog2_blur.png");
        min-height:100%;
        background-attachment:fixed;
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
    }

    .scroll-3{
        background-image:url("images/staff.png");
        min-height:100%;
        background-attachment:fixed;
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
    }

        .scrolldiv-1{
            position:relative;
            display:flex;
            flex-direction:row;
            gap:5%;
            height: 90%;
            background-color:transparent;
            color:#7092bf;
            font-size:x-large;
            font-family:Arial, Helvetica, sans-serif;
            text-align:center;
            align-items:center;
            padding-top:5%;
        }
            .content-1{
                position:relative;
                background:#0b2649;
                background-image:url("images/sugarbaby.png");
                background-attachment:scroll;
                background-repeat:no-repeat;
                background-size:cover;
                vertical-align:middle;
                border-radius:50%;
                height:80vh;
                flex:5%;
                margin-left:2%;
                flex-shrink:50%;
                
                
            }
            .content-2{
                margin: 5% 5% 5% 0%;
                padding:10px;
                position:relative;
                flex:5%;
                width:100px;
                
            }                       /*editing the text scrolling over image*/
                .content-2 .p1{
                    
                    font-size:3rem;
                    text-align:center;
                }
                .content-2 .p2{
                    margin-top:5%;
                    font-size:1.5rem;
                    text-align:left;
                }


        .scrolldiv-2{
            display:grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(6, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px; 
            align-items:flex-end;
            height: 70%;
            background-color:#0b2649;
            font-family:Arial, Helvetica, sans-serif;
            overflow:hidden;
        }

        
            .services-1{
                grid-area:1/2/2/4;
                color:#7092bf;
                font-size:5rem;
                margin-top:20px;
                text-align:center;    
            }
               
                                        .services-icon{
                                            grid-area:2/1/6/2;
                                            background-image:url("images/stethbutton.png");
                                            background-size:cover;
                                            height:400px;
                                            width:400px;
                                            margin-left:50px;
                                        }
            .services-2{
                grid-area:2/2/7/3;
                justify-content:start;
                color:#7092bf;
                font-size:1.75rem;
                
                text-align:center;
            }
                                        .services-2 p{
                                            margin-bottom:30px;
                                        }

            .services-3{
                grid-area:2/3/7/4;
                justify-content:start;
                color:#7092bf;
                font-size:1.75rem;
                text-align:center;
            }
                                        .services-3 p{
                                            
                                            margin-bottom:30px;
                                        }


        .scrolldiv-3{
            height: 75%;
            background-color:#0b2649;
            color:#7092bf;
            text-align:center;
            font-size:5rem;
            font-family:Arial, Helvetica, sans-serif;
        }
        .scrolldiv-4{
            height: 10%;
            background-color:#0b2649;
            color:white;
            text-align:center;
        }
        